<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Blog</title>
</head>
<body>
    <h1>Create a New Blog Post</h1>
    <form action="/blogs/create-blog" method="POST">
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" required>
        <br>
        
        <label for="date">Date:</label>
        <input type="date" id="date" name="date">
        <br>
        
        <label for="content">Body Text:</label>
        <textarea id="content" name="content" required></textarea>
        <br>
        
        <label for="content">Title:</label>
        <input id="title" name="title" required>
        <button type="submit">Create Blog</button>
    </form>

    
</body>
</html>

