<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<h1>Blog Spot</h1>

<div class="blog-post">
    <h2>Post Title 1</h2>
    <p><strong>Author:</strong> Johnathan Doughboy</p>

    <p><strong>Date:</strong> October 1, 2024</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
    <a href="#">Read more</a>
</div>
</div>

</body>
</html>