<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>
        <div>
            <h1> survey </h1>
            <form> 
                <div>   Question: <input type=" text">   </div>
                 Yes <input  type= "button"> 
               No <input type= "button">
               <form> 
                </div>

    </div>

</body>
</html>