<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Surveys</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Your Surveys jjj</h1>


    <a href="/surveys/new">Create a New Survey</a>
    <ul>



        <% surveys.forEach(survey => { %>
            <li>
                <a href="/surveys/<%= survey._id %>"><%= survey.title %></a>
                <form action="/surveys/<%= survey._id %>?_method=DELETE" method="POST" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
                <a href="/surveys/<%= survey._id %>/edit">Edit</a>
            </li>
        <% }); %>
    </ul>
</body>
</html>
